h1{
    color:red
}

@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

/* min-width */
P{
    background-color: red;
    color: #000;;
}



@media screen and (min-width: 800px) {
    p {
        background-color: yellow;
        color: green;
    }
}

/* ladscape */

h3{
    display: none;
}

@media screen and (orientation: landscape) and (max-width: 500px) {
    h3 {
        display: block;
       
    }
}